[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "public"]
	path = public
	url = https://github.com/michaeldlee1/michaeldlee1.github.io.git
	branch = master
